<div class="row" style="margin: 0; padding: 0; height: 100%; background-color: #ffffff;">
    <div class="col-7" style="background-color: #ffffff; position: relative; margin: 0; padding: 0;">
      <div style="position: relative; top: 10%; margin-left: 5%; width: 90% !important;">
        <mat-tab-group dynamicHeight>
          <mat-tab label="Login">
            <app-login></app-login>
          </mat-tab>
          <mat-tab label="Cadastrar">
            <app-register></app-register>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <div class="col-5" style="background-image: linear-gradient(to right, #6552a18f , #d57683); position: relative; border-radius: 278px 45px;">
      <img src="./assets/image/logo.png" class="img-logo">
    </div>
  </div>
  